<template>
  <div id="app">
    <Sales/>
    <div>
    <Form/>
    </div>
  </div>
</template>

<script>
import Sales from './components/Sales.vue'
import Form from './components/Form.vue'
export default {
  name: 'HiringApp',
  components: {
    Sales,
    Form
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
