<template>
    <div>
        <h2> Inventory </h2>
            <form v-on:submit.prevent="submitForm">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" id="name" placeholder="Name of the Item" v-model="form.name">
                </div>
                <div class="form-group">
                    <label for="quantity">quantity</label>
                    <input type="text" class="form-control" id="quantity" placeholder="1"
                        v-model="form.quantity">
                </div>
                <div class="form-group">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" placeholder="ID"
                        v-model="form.id">
                </div>    
                <div class="form-group">
                    <select v-model="form.action">
                        <option value="0">Add</option>
                        <option value="1">Delete</option>
                        <option value="2">Update</option>
                    </select>
                </div>
                
                
                <div class="form-group">
                    <button class="btn btn-primary">Submit</button>
                </div>
            </form>
    <div v-if="response">
    <p v-if="response.data.error !== 'none'">{{response.data.error}}</p>
    <p v-else>Request went through successfully</p>
    </div>
    
    </div>
</template>


<script>
import axios from 'axios';

export default {
    name: 'PostFormAxios',

    data(){
        return{
            form: {
                name: '',
                quantity: '',
                id:'',
            },
            response:''
        }
    },
    methods:{

        submitForm(){
            const el = this
            console.log(this.form.action)
            switch (this.form.action)
            { 
                case '0':
                    if (this.form.name && this.form.id) 
                    {
                        axios.post('http://localhost:5000/api/inventory/add', this.form)
                            .then(function (response){
                            el.response = response;
                            console.log(response);
                        }) 
                    }
                    else {
                        el.response = 'Please enter name and ID both for entering data';
                        console.log(el.response)
                    }
                    break;
                case '1':
                    if (this.form.id)
                    {
                        axios.delete('http://localhost:5000/api/inventory/remove', {data :this.form},{headers: {'Content-Type': 'application/x-www-form-urlencoded'}})
                        .then(function(response){
                            el.response = response;
                            console.log(response)
                        })
                    }
                    else 
                    {
                        el.response = "Please enter the ID you want to delete"
                    }
                    break;
                case '2':
                    if (this.form.id) 
                    {
                        axios.patch('http://localhost:5000/api/inventory/update', this.form)
                        .then(function(response){
                            el.response = response;
                            console.log(response);
                        })
                    }
                    else 
                    {
                        el.response = "Please enter the ID you want to update"
                    }
                    break;
            }
        
        return el.response
        }

    }
}
</script>
